{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    {% if items | length > 0 %}


        <div class="container-fluid">
        <div class="row">
        <div class="col-8 mt-4">

        <table class="table table-borderless">
            <thead>
            <tr>
                <td><h5>Votre panier</h5></td>
                <td></td>
                <td></td>
                <td><h5>Prix</h5></td>

            </tr>
            </thead>

            <tbody>
            {% for item in items %}
                <tr class=" table-bordered">

                    <td><img class="img-fluid" src="{{ asset ("images/index/retro.png") }}" alt="" width="150px"></td>
                    <td>{{ item.product.proName }}</td>

                    <td>
                        <label>
                            <select>
                                <option> qté: {{ item.quantity }}</option>
                                {% for i in 1..10 %}
                                    {% if item.quantity != i %}
                                        <option> qté: {{ i }}</option>
                                    {% endif %}
                                {% endfor %}

                        </select>
                        </label>
                    </td>
                    <td>{{ item.product.proUnitPrice }} €</td>
                </tr>
                <tr>
                    <td><a href="{{ path('cart_remove', {'id' : item.product.id}) }}"class="small">
                            Supprimer
                        </a></td>
                    <td><a href="#" class="small" >
                            Mettre de coté
                        </a></td>
                    <td><a href="#"  class="small">
                            Voir plus de produits similaires
                        </a></td>
                </tr>

            {% endfor %}


            </tbody>
            <tfoot>

            <tr>
                <td colspan="2"></td>
                <td>Sous Total ({{ items|length }} articles) :</td>
                <td> {{ total }} €</td>
            </tr>

            </tfoot>
        </table>
        <p class="small">Le prix et la disponibilité des articles sur Link sont sujets à changement. Le panier est un
            lieu temporaire où est stockée une liste de vos articles et où se reflète le prix le plus récent de chaque
            article.

            Vous avez un chèque-cadeau ou un bon de réduction ? Nous vous demanderons de saisir votre code au moment de
            payer.</p>
    {% else %}




    {% endif %}

    </div>

    <div class="col-3 offset-1 mt-4">
        <div class="row">
            <div class="col-12">

                <div class="card card-header text-center">
                    <h5 class="card-title">Sous Total ({{ items|length }} articles : {{ total }} € )</h5>
                    <a href="#" class="btn btn-dark btn-lg">Passer la commande</a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="row mt-4">
                    <div class="card card-body text-center">
                        <h5 class="card-title">Suggestion :</h5>
                        <img class="img-fluid" src="{{ asset ("images/index/catalogue@2x.png") }}" width="150px" alt="">
                        <p>Nom du produit : </p>
                        <p>prix : </p>
                        <a href="#" class="btn btn-dark btn-sm">Ajouté au panier</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>
    </div>


{% endblock %}


