{% extends 'base.html.twig' %}

{% block title %}Ink{% endblock %}

{% block body %}

    {# Navbar #}


    {# Header #}

    <div class="row vh-50 ">
        <div class="col-12 p-1 ">
            <a href="{{ path('product_index') }}"> <img class="img-fluid"
                                                        src="{{ asset('images/index/sterling-lanier-DY6h8v2rqzM-unsplash.jpg') }}"
                                                        alt="header-bg"></a>
        </div>
    </div>
    {# promotion #}

    <div class="row vh-50 p-1 mb-1">
        <div class="col-4 pl-1 pr-1 ">
            <a href="{{ path('product_index') }}"><img class="img-fluid"
                                                       src="{{ asset("images/index/daniel-j-schwarz-pfywsjCLzKQ-unsplash.jpg") }}"
                                                       alt=""></a>

        </div>
        {# Cards #}
        <div class="col-8">
            <div class="row">
                <div class="col-6 p-0 mb-1 pr-1">
                    <a href="{{ path('product_index') }}"><img class="img-fluid"
                                                               src="{{ asset("images/index/nature@2x.png") }}"
                                                               alt=""></a>

                </div>
                <div class="col-6 p-0 pl-1  mb-1">
                    <a href="{{ path('product_index') }}"><img class="img-fluid"
                                                               src="{{ asset("images/index/nature@2x.png") }}"
                                                               alt=""></a>

                </div>
            </div>
            <div class="row">
                <div class="col-8 p-0 pr-1 mb-1">
                    <a href="{{ path('product_index') }}"><img class="img-fluid"
                                                               src="{{ asset("images/index/promo@2x.png") }}"
                                                               alt=""></a>
                </div>
                <div class="col-4 p-0">
                    <a href="{{ path('product_index') }}"><img class="img-fluid"
                                                               src="{{ asset("images/index/retro@2x.png") }}"
                                                               alt=""></a>
                </div>
            </div>
        </div>
    </div>

    {# Promotion #}
    <div class="row vh-50">
        <div class="col-12 mt-1 mb-1 m-0 p-1">
            <a href="{{ path('product_index') }}"><img class="img-fluid"
                                                       src="{{ asset("images/index/sterling-lanier-DY6h8v2rqzM-unsplash.jpg") }}"
                                                       alt=""></a>
        </div>
    </div>
    {# Card Category #}
    <div class="row vh-50">
        <div class="col-2 bg-dark m-1 offset-2"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
        <div class="col-2 bg-dark m-1"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
        <div class="col-2 bg-dark m-1"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
        <div class="col-2 bg-dark m-1"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
    </div>

    {# Personnalisation #}
    <div class="row vh-50 m-0 p-0">
        <div class="row mb-3">
            <div class="col-9 offset-3">
                <h1 class="h3 ">Créez vos poster personnalisez en quelque clics</h1>
            </div>
        </div>
    </div>


    <div class="row m-0 p-0">
        <div class="col-2 offset-3 bg-dark "><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
        <div class="col-2 bg-dark m-1"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
        <div class="col-2 bg-dark m-1"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
    </div>


{% endblock %}