{% extends 'base.html.twig' %}

{% block title %}Ink{% endblock %}

{% block body %}

    {# Navbar #}


    {# Header #}


    <div class="row pt-4">
        <div class="col-12 p-0 m-0 px-1">
            <a href="{{ path('product_index') }}"> <img class="img-fluid rounded fit "
                                                        src="{{ asset('images/index/sterling-lanier-DY6h8v2rqzM-unsplash.jpg') }}"
                                                        alt="header-bg"></a>
        </div>
    </div>
    {# promotion #}

    <div class="row pt-4">
        <div class="col-4 p-1 ">
            <a href="{{ path('product_index') }}"><img class="img-fluid rounded fit "
                                                       src="{{ asset("images/index/zhuo-cheng-you-C3saHwqX1aA-unsplash.jpg") }}"
                                                       alt="big-img"></a>

        </div>
        {# Cards #}
        <div class="col-8">
            <div class="row ">
                <div class="col-6 p-1">
                    <a href="{{ path('product_index') }}"><img class="img-fluid rounded  fit "
                                                               src="{{ asset("images/index/davisco-rhUU1pemhQ0-unsplash.jpg") }}"
                                                               alt="scd-img"></a>

                </div>
                <div class="col-6 p-1" >
                    <a href="{{ path('product_index') }}"><img class="img-fluid rounded  fit "
                                                               src="{{ asset("images/index/moran-rbQ2oQIG6hQ-unsplash.jpg") }}"
                                                               alt="thrd-img"></a>

                </div>
            </div>
            <div class="row pt-3">
                <div class="col-8 p-1  " >
                    <a href="{{ path('product_index') }}"><img class="img-fluid  rounded  fit "
                                                               src="{{ asset("images/index/paysage@2x.png") }}"
                                                               alt="fth-img"></a>
                </div>
                <div class="col-4 p-1">
                    <a href="{{ path('product_index') }}"><img class="img-fluid rounded  fit "
                                                               src="{{ asset("images/index/kam-idris-YS_81Cj8kHY-unsplash.jpg") }}"
                                                               alt="fifth-img"></a>
                </div>
            </div>
        </div>
    </div>

    {# Promotion #}

    <div class="row pt-3 pb-3 ">
        <div class="col-12">
            <h1 class="h3 mb-0 text-center">Espace promotions</h1>
        </div>
    </div>

    <div class="row vh-50 pt-2">
        <div class="col-12 mt-1 mb-1 m-0 p-1">
            <a href="{{ path('product_index') }}"><img class="img-fluid"
                                                       src="{{ asset("images/index/promo@2x.png") }}"
                                                       alt=""></a>
        </div>
    </div>
    {# Card Category #}
    <div class="row vh-50 d-flex justify-content-center pb-5 pt-5">
        <div class="card col-2 pr-0 pl-0 mr-2" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset("images/index/nature@2x.png") }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Paysage</p>
            </div>
        </div>
        <div class="card col-2 pr-0 pl-0 mr-2 " style="width: 18rem;">
            <img class="card-img-top" src="{{ asset("images/index/nature@2x.png") }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Abstrait</p>
            </div>
        </div>
        <div class="card col-2 pr-0 pl-0 mr-2" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset("images/index/nature@2x.png") }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nature</p>
            </div>
        </div>
        <div class="card col-2 pr-0 pl-0 mr-2" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset("images/index/nature@2x.png") }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Retro</p>
            </div>
        </div>
    </div>

    {# Personnalisation #}
    <div class="row">
        <div class="col-12">
            <h1 class="h3 text-center">Créez vos posters personnalisés en quelques clics</h1>
        </div>
    </div>



    <div class="row vh-50 d-flex justify-content-center pt-5">
        <div class="card col-2 pr-0 pl-0 mr-2" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset("images/index/topkeks.png") }}" alt="Card image cap">
            <div class="card-body shadow-sm">
                <p class="card-text text-center">Paysage</p>
            </div>
        </div>
        <div class="card col-2 pr-0 pl-0 mr-2 " style="width: 18rem;">
            <img class="card-img-top" src="{{ asset("images/index/topkeks.png") }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Abstrait</p>
            </div>
        </div>
        <div class="card col-2 pr-0 pl-0 mr-2" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset("images/index/topkeks.png") }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Nature</p>
            </div>
        </div>

    </div>




{% endblock %}