{% extends 'base.html.twig' %}

{% block title %}Poster{% endblock %}

{% block body %}

    {# Navbar #}


    < class="container-fluid">
    {# Header #}
    <div class="row">
        <div class="col-12 vh-50 mt-2 mb-2">
            <a href="{{ path('product_index') }}"> <img class="img-fluid"
                                                        src="{{ asset('http://parksadventure.com/wp-content/uploads/2017/10/header-image-1-2.png') }}"
                                                        alt="header-bg"></a>
        </div>
    </div>

    <div class="row vh-50 ">
        <div class="col-4 bg-dark h-100">
            <a href="{{ path('product_index') }}"><img src="" alt=""></a>

        </div>
        <div class="col-8">

            <div class="row h-100">
                <div class="col-5 bg-dark m-1">
                    <a href="{{ path('product_index') }}"><img src="{{ asset("index/abstrait@2x") }}" alt=""></a>
                </div>
                <div class="col-6 bg-dark m-1">
                    <a href="{{ path('product_index') }}"><img src="" alt=""></a>
                </div>
            </div>
            <div class="row">
                <div class="col-6 bg-dark m-1 ">
                    <a href="{{ path('product_index') }}"><img src="" alt=""></a>
                </div>
                <div class="col-5 bg-dark m-1 ">
                    <a href="{{ path('product_index') }}"><img src="" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    {# promotion #}
    <div class="row vh-50">
        <div class="col-12 bg-dark m-1">
            <a href="{{ path('product_index') }}"><img src="" alt=""></a>
        </div>
    </div>
    {# Categorie #}
    <div class="row vh-50">
        <div class="col-2 bg-dark m-1 offset-2"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
        <div class="col-2 bg-dark m-1"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
        <div class="col-2 bg-dark m-1"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
        <div class="col-2 bg-dark m-1"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
    </div>

    {# Personnalisation #}
    <div class="row vh-50">
        <div class="row mb-3">
            <div class="col-9 offset-3">
                <h1 class="h3 ">Créez vos poster personnalisez en quelque clics</h1>
            </div>
        </div>
    </div>


        <div class="row">
        <div class="col-2 offset-3 bg-dark "><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
        <div class="col-2 bg-dark m-1"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
        <div class="col-2 bg-dark m-1"><a href="{{ path('product_index') }}"><img src="" alt=""></a></div>
        </div>


{% endblock %}