{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>UserLastName</th>
            <th>UserFirstName</th>
            <th>UserPhone</th>
            <th>UserBirthday</th>
            <th>UserGender</th>
            <th>UserEmail</th>
            <th>UserPassword</th>
            <th>actions</th>
        </tr>

            <tr>
                <th>Id</th>

                <th>UserLastName</th>
                <th>UserFirstName</th>
                <th>UserPhone</th>
                <th>UserPhone</th>
                <th>UserBirthday</th>
                <th>UserGender</th>
                <th>UserEmail</th>
                <th>UserPassword</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>

                <td>{{ user.userLastName }}</td>
                <td>{{ user.userFirstName }}</td>
                <td>{{ user.userPhone }}</td>
                <td>{{ user.userBirthday ? user.userBirthday|date('Y-m-d') : '' }}</td>
                <td>{{ user.userGender }}</td>
                <td>{{ user.userEmail }}</td>
                <td>{{ user.UserPassword }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Détails</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucunes données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# URL POUR LE FORMULAIRE D'INCRIPTION UTILISATEUR #}
    <a href="{{ path('user_new', {'role': 1}) }}">Create new</a>
{% endblock %}
