{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    {% if items | length > 0 %}


        <div class="container-fluid">
        <div class="row ">
        <div class="col-8 mt-4">

        <div class="row border-bottom ">
            <div class="col-3">
                <h5>Votre panier</h5>
            </div>
            <div class="col-1 offset-8">
                <h5>Prix</h5>
            </div>
            <hr>
        </div>

        {% for item in items %}

            <div class="row border-bottom mt-3">
                <div class="col-2">
                    <img class="img-fluid" src="{{ asset ("images/index/retro.png") }}" alt="" width="150px"></div>
                <div class="col-10">
                    <div class="row h-100">
                        <div class="col-4"><h4>{{ item.product.proName }}</h4>
                        </div>
                        <div class="col-1 offset-7"><h5>{{ item.product.proUnitPrice }} €</h5>
                        </div>


                        <div class="row mt-5 pt-4">
                            <div class="col-2" >
                            <select>
                                <option> Qté: {{ item.quantity }}</option>
                                {% for i in 1..10 %}
                                    {% if item.quantity != i %}
                                        <option value="{{ i }}"> Qté: {{ i }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            </div>
                            <div class="col-2">  <a href="{{ path('cart_remove', {'id' : item.product.id}) }}" class="small">
                                    Supprimer
                                </a></div>
                            <div class="col-3"> <a href="#" class="small">
                                    Mettre de coté
                                </a></div>
                            <div class="col-5"> <a href="#" class="small">
                                    Voir plus de produits similaires
                                </a></div>

                        </div>
                    </div>
                </div>
                <hr>
            </div>


        {% endfor %}

        <div class="row">
            <div class="col-2 offset-9">
                <p> Sous Total ({{ items|length }} articles) :</p>
            </div>
            <div class="col-1">
                <h4> {{ total }} €</h4>
            </div>

        </div>


        <p class="small">Le prix et la disponibilité des articles sur Link sont sujets à changement. Le panier est un
            lieu temporaire où est stockée une liste de vos articles et où se reflète le prix le plus récent de chaque
            article.

            Vous avez un chèque-cadeau ou un bon de réduction ? Nous vous demanderons de saisir votre code au moment de
            payer.</p>

    {% else %}




    {% endif %}

    </div>

    <div class="col-3 offset-1 mt-4">
        <div class="row">
            <div class="col-12 p-0">

                <div class="card card-header text-center">
                    <h5 class="card-title">Sous Total ({{ items|length }} articles : {{ total }} € )</h5>
                    <a href="#" class="btn btn-dark btn-lg">Passer la commande</a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="row mt-4">
                    <div class="card card-body text-center">
                        <h5 class="card-title">Suggestion :</h5>
                        <img class="img-fluid" src="{{ asset ("images/index/catalogue@2x.png") }}" width="100px" alt="">
                        <p>Nom du produit : </p>
                        <p>prix : </p>
                        <a href="#" class="btn btn-dark btn-sm">Ajouté au panier</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>
    </div>


{% endblock %}


