{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}

	{# Navbar #}


	{# Header #}

		<h1 class="text-left ml-3"> Product index</h1>
	{# <div class="row">
					<div
						class="col-3">
			
						<!-- Vertical navbar -->
						<div class="vertical-nav bg-white" id="sidebar">
							<div class="py-4 px-3 mb-4 bg-dark">
								<div class="media d-flex align-items-center ml-3"><img class="img-fluid w-10" src="{{ asset('images/nav/drop-line.png') }}" alt="">
									<div class="media-body text-white">
										<h4 class="text-center mr-5">Keskispasse ?</h4>
										<p class="font-weight-light text-muted mb-0"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> #}

	{#Filtre de recherche#}
	<div class="row p-0 m-0">
		<div class="col-3">
			{% include 'product/_filter.html.twig' with {form: form} only %}
		</div>
	
		{#Promotion#}
		<div class="col-9">
			<a href="{{ path('product_index') }}">
				<img class="img-fluid h-25 w-100" src="{{ asset('images/index/sterling-lanier-DY6h8v2rqzM-unsplash.jpg') }}" alt=""></a>
			{# <div class="count">
				<h1>
					<b>Liste des produits({{ product.getTotalItemCount }})</b>
				</h1>
			</div> #}
		</div>
	</div>
			{#Tags#}
		<div class="row p-0 m-0">
			<div class="col-3">
				<h2>TAGS</h2>
				<textarea id="tags" name="tags"></textarea>
			</div>

			{#Affichage produits#}
			<div class="col-9">
			<div class="row p-0 m-0">
			{% for product in products %}
				<div class="col-4 text-center">
					<div class="grid">
						{% include 'product/_card.html.twig' with {product: product} only %}
					</div>
				</div>

			{% endfor %}
			</div>
			</div>
		</div>
		
	


	<div class="row">
		<div class="navigation mt-5">
			{{ knp_pagination_render(product) }}
		</div>
	</div>
	{# <img class="img-fluid w-100" src="{{ asset ("images/index/cat@2x.png") }}" alt=""></a> #}


{# Tags<div class="row p-0 m-0">
	<div class="col-3 mt-5">
		<h2>TAGS</h2>
		<textarea id="tags" name="tags"></textarea>
	</div>
	
	
		<div class="row p-0 m-0">
	
			{% for item in product %}
				<div class="col-4 text-center">
					<img class="img-fluid w-60 mt-4" src="{{ asset ("images/index/catalogue@2x.png") }}" alt="">
					<p>
						<h2>{{ item.proName }}</h2>
					</p>
					<p>{{ item.proDescription|striptags }}</p>
					<p>
						<h6 class="text-danger">
							<b>À partir de
								{{ minprice }}
								€</b>
						</h6>
					</p>
					<a href="{{ path('product_show', {'id': item.id}) }}" class="btn btn-primary">Détails</a>
					{#           <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-dark">Modifier</a>#}

	{# {% else %} 
																																																																												</div>																								actions : <td colspan="11">no records found</td> #}
	{# </div>
																								
																										{% endfor %} #}


{% endblock %}
