{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

        {# Navbar #}


        {# Header #}
    <h1>Product index</h1>

<div class="row p-0 m-0">
    <div class="col-3">
        <img class="img-fluid" src="{{ asset ("images/index/cat@2x.png") }}" alt=""></a>
    </div>

    
        {#Promotion#}

    <div class="col-9 bg-light">

    </div>
<div class="row p-0 m-0">
    <div class="col-3">
    <div>
        <h2>TAGS</h2>
        <textarea id="tags" name="tags"></textarea>
    </div>
    </div>
    <div class="col-9">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProName</th>
                <th>ProStockAle</th>
                <th>ProUnitPrice</th>
                <th>ProUnitStockPhy</th>
                <th>ProUnitOnOrder</th>
                <th>ProDiscontinued</th>
                <th>ProNote</th>
                <th>ProLib</th>
                <th>ProDescription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
            {# Ajouter images dans BDD}
                {# <td>{{ product.proPicture }} #}
                <td><img class="img-fluid" src="{{ asset ("images/index/catalogue@2x.png") }}" alt=""></a></td>
                <td>{{ product.id }}</td>
                <td>{{ product.proName }}</td>
                <td>{{ product.proStockAle }}</td>
                <td>{{ product.proUnitPrice }}</td>
                <td>{{ product.ProUnitStockPhy }}</td>
                <td>{{ product.proUnitOnOrder }}</td>
                <td>{{ product.proDiscontinued }}</td>
                <td>{{ product.proNote }}</td>
                <td>{{ product.proLib }}</td>
                <td>{{ product.proDescription }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    
    <a href="{{ path('product_new') }}">Create new</a>
    </div>
</div>
{% endblock %}
